.fa-user {
    color: #277DA1;
}

.fa-users {
    color: #43AA8B;
}

.fa-folder {
    color: #F8961E;
}

.fa-circle-nodes {
    color: #3a86ff;
}

.fa-photo-film {
    color: #F94144;
}

.fa-shapes {
    color: #F9C74F;
}

.fa-moon {
    color: #023047;
}
.fa-right-to-bracket{
    color: #B70404;
}