:root {
    --w-bkg-color: #66A1D7;
    --w-card-color: #CBCBCB;
    --w-accent-color: #66A1D7;
    --w-hover-accent-color: var(--w-accent-color);
    --w-text-color: #081620;
    --w-hover-text-color: #CBCBCB;
    --w-exit-color: #B70404;
}

body {
    background: var(--w-bkg-color);
}

.card {
    background: var(--w-card-color);
}

.placeholder {
    color: var(--w-accent-color);
}
.line{
    color: var(--w-text-color);
}
.line:hover {
    color: var(--w-hover-text-color);
    background: var(--w-hover-accent-color);
}

hr {
    background: var(--w-accent-color);
}


.line.exit-label:hover {
    background: var(--w-exit-color);
}

.exit-menu .confirm-wrapper button {
    background: yellow;
    color: white;
}

.exit-menu .confirm-wrapper .confirm-exit {
    background: var(--w-exit-color);
}